<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Gene Search exemple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="GeneSuggest" ng-cloak>
<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <span>EBI Gene Search</span>
        </h3>
    </div>
</md-toolbar>
<div ng-controller="GeneController as ctrl" layout="column">
    <md-content class="md-padding">
        <div layout="column">
            <div layout="row" layout-align="space-between center">
                <md-autocomplete flex="50"
                                 ng-disabled=false
                                 md-no-cache=true
                                 md-selected-item="ctrl.selectedItem"
                                 md-search-text="ctrl.searchText"
                                 md-selected-item-change="ctrl.selectedItemChange(gene)"
                                 md-items="gene in ctrl.querySearch(ctrl.searchText)"
                                 md-item-text="gene.display_label"
                                 md-min-length="2"
                                 placeholder="Please type in the gene name">
                    <md-item-template>
                            <span md-highlight-text="ctrl.searchText"
                                  md-highlight-flags="^i">{{ gene.display_label }}</span>
                    </md-item-template>
                    <md-not-found>
                        No gene matching "{{ ctrl.searchText }}" were found.
                    </md-not-found>
                </md-autocomplete>
                <md-input-container flex="30">
                    <label>Filter for species</label>
                    <md-select ng-model="selectedSpecies">
                        <md-option ng-repeat="item in listSpecies" value="{{ item.species }}">{{ item.species }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="20" style="padding-left: 10px;">
                    <label>Limit suggestion results</label>
                    <md-select ng-model="searchLimit">
                        <md-option ng-repeat="limit in searchLimits" value="{{ limit }}">{{ limit }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-list flex ng-if="genes.length > 0" style="border: 1px solid lightgray">
                <md-subheader><h1>First 100 species with this gene</h1></md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in genes" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3>Species: {{ item.species }} -- from {{ item.source_db }} --</h3>
                        <h4>Stable Id: {{ item.stable_id }}</h4>
                        <p>Location: {{ item.location }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<!-- Your application bootstrap  -->
<script type="text/javascript">

    /**
     * You must include the dependency on 'ngMaterial'
     */
    (function () {
        'use strict';
        var app = angular.module('GeneSuggest', ['ngMaterial']);
        app.config(function ($mdThemingProvider) {
            $mdThemingProvider.theme('default')
                .primaryPalette('purple')
                .accentPalette('indigo');
        });
        app.controller('GeneController', function ($scope, $mdToast, $http, $q) {
                $scope.searchLimits = [10, 20, 50, 100];
                $scope.searchLimit = 10;
                $scope.listSpecies = [];
                var self = this;
                self.querySearch = function (query) {
                    return $http.get("/api/gene_suggest/", {
                        params: {
                            query: query,
                            species: $scope.selectedSpecies,
                            limit: $scope.searchLimit
                        }
                    })
                        .then(function (response) {
                            //console.log(response.data);
                            return response.data;
                        })
                };
                self.listSpecies = function () {
                    return $http.get("/api/species_list/")
                        .then(function (response) {
                            $scope.listSpecies = response.data;
                        })
                }
                self.listSpecies()
                self.listGenes = function (gene) {
                    if (gene != null)
                        return $http.get("/api/gene_list/", {params: {gene: gene.display_label, limit: $scope.searchLimit}})
                            .then(function (response) {
                                $scope.genes = response.data
                            })
                };
                self.selectedItemChange = function (gene) {
                    if (gene != null) {
                        $mdToast.show(
                            $mdToast.simple()
                                .textContent('Item changed to ' + gene.display_label)
                                .position('top right')
                                .hideDelay(3000)
                        );
                        self.listGenes(gene);
                    }
                };

            }
        );

        app.controller('SpeciesController', function ($scope) {
            $scope.loadMore = function () {
                console.log('loading more');
            }
        });

        app.directive('lazyLoad', function () {
            return {
                restrict: 'A',
                link: function (scope, elem) {
                    var scroller = elem[0]
                    $(scroller).bind('scroll', function () {
                        if (scroller.scrollTop + scroller.offsetHeight >= scroller.scrollHeight) {
                            scope.$apply('loadMore()')
                        }
                    })
                }
            }
        });
    })()

</script>
</body>
</html>